@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>@Model.Title</h2>



@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(c => c.Customers.Name)
        @Html.TextBoxFor(c => c.Customers.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customers.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customers.MembershipTypeId)
        @Html.DropDownListFor(c => c.Customers.MembershipTypeId, new SelectList(Model.MembershipTypes.ToList(), "Id", "Type"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customers.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customers.BirthDate)
        @Html.TextBoxFor(c => c.Customers.BirthDate, "{0:d MMM yyyy}", new { @id = "BirthDate", @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Customers.BirthDate)
    </div>



    <div class="custom-control custom-checkbox form-check-input rounded-circle">
        <label>
            @Html.CheckBoxFor(c => c.Customers.IsSubscribedToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>

    @Html.HiddenFor(c => c.Customers.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>



}

@section Scripts {
    @Scripts.Render("~/bundles/lib")
    @Styles.Render("~/Content/css")
}

<script>
    $(function () {
        $("#BirthDate").datepicker();


    });
</script>
